
  body {
    font-family: Arial, sans-serif;
    background: #f7f7f7;
    padding: 20px;
  }

  p {
    font-size: 20px;
    margin-bottom: 10px;
  }

  input {
    padding: 8px;
    width: 200px;
    border: 1px solid #ccc;
  }

  button {
    padding: 8px 12px;
    margin-left: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.5s ease;
  }

  button:hover {
    background-color: #45a049;
  }

  .js-todo-list p {
    background: white;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 5px;
  }
.js-todo-list .dela{
  margin-top: 5px;
}
